// Body
$body-bg: #f8fafc;
$body-color: #212529;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// Options
$enable-caret: false;
$enable-shadows: true;
$enable-gradients: true;

// Links
$link-decoration: none;
